<!doctype html>
  <!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  <meta charset="utf-8">
  <title>Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="css/commentjs.css" rel="stylesheet">
  <link href="js/google-code-prettify/prettify.css" rel="stylesheet">

  <!-- HTML5 Shim for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <div id="header">
    <a href="http://kimbojs.com">
      <img src="img/kimbojs_logo_white.png" width="138" height="38" alt="Kimbo.js" />
    </a>
  </div>

  <div id="cjs-main">
    <div id="cjs-documentation" class="cjs-panel">
      <h1>API Documentation Title</h1>

      <!-- object section -->
      <div class="cjs-section">
        <h2>$B</h2>
        <p>Description for $B Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum porttitor enim eget porta.</p>
      </div>

      <!-- object section -->
      <div class="cjs-section">
        <h3>$B.ui</h3>
        <p>Description for $B.ui Donec tincidunt laoreet cursus. Ut ultrices porttitor orci quis bibendum.</p>
      </div>

      <!-- object section -->
      <div class="cjs-section">
        <h4>$B.ui.dialog</h4>
        <p>Description for $B.ui.dialog Phasellus nulla enim, dignissim sit amet tincidunt nec, gravida id ligula. Nam leo metus, volutpat sed venenatis euismo.</p>
      </div>

      <!-- method section -->
      <div class="cjs-section">
        <!-- method name -->
        <h5>$B.ui.dialog.close(id, [force])</h5>
          <!-- method description -->
          <p>Close an existing dialog with the given id</p>

          <!-- arguments -->
          <dl class="cjs-arguments">
            <dt class="cjs-param">id</dt>
            <dd class="cjs-type"><em class="cjs-type-string">string</em></dd>
            <dd class="cjs-param-desc">id of the dialog to open</dd>
            <!-- optional -->
            <dt class="cjs-param cjs-param-optional">force</dt>
            <dd class="cjs-type cjs-type-boolean"><em class="cjs-type-string">boolean</em></dd>
            <dd class="cjs-param-desc">force the dialog to open</dd>
          </dl>

          <!-- returns -->
          <p class="cjs-return">
            <strong>Returns:</strong>
            <em class="cjs-type-object">object</em>
            <span class="cjs-param-dsc">jQuery object of the dialog content</span>
          </p>

          <!-- usage -->
          <p>Usage</p>
<pre class="prettyprint linenums"><code>function (asd) {
id: 'MyDialog',
el: '#DialogElement',
button: '#button',
dialogOptions: {
  draggable: true,
  width: 640
}
});
</code></pre>
      </div>
    </div>
  </div>
  <div id="cjs-nav">
    <div class="cjs-nav-header">
      <form>
        <input type="text" id="cjs-filter">
        <span role="button" id="cjs-search-reset">×</span>
      </form>
    </div>
    <ul id="cjs-toc" class="cjs-panel">
      <li class="cjs-lvl-0"><a href="#$B">$B</a></li>
      <li class="cjs-lvl-1"><a href="#$B.ui">$B.ui</a></li>
      <li class="cjs-lvl-2"><a href="#$B.ui.dialog">$B.ui.dialog</a></li>
      <li class="cjs-lvl-3"><a href="#$B.ui.dialog.close">$B.ui.dialog.close()</a></li>
      <li><a href="#$B.ui.dialog.create">$B.ui.dialog.create()</a></li>
      <li><a href="#$B.ui.dialog.destroy">$B.ui.dialog.destroy()</a></li>
      <li><a href="#$B.ui.dialog.destroyAll" class="cjs-selected">$B.ui.dialog.destroyAll()</a></li>
      <li><a href="#$B.ui.dialog.exists">$B.ui.dialog.exists()</a></li>
      <li><a href="#$B.ui.dialog.get">$B.ui.dialog.get()</a></li>
      <li><a href="#$B.ui.dialog.isOpen">$B.ui.dialog.isOpen()</a></li>
      <li><a href="#$B.ui.dialog.moveToTop">$B.ui.dialog.moveToTop()</a></li>
      <li><a href="#$B.ui.dialog.open">$B.ui.dialog.open()</a></li>
      <li><a href="#$B.ui.dialog.set">$B.ui.dialog.set()</a></li>
      <li><a href="#$B.ui.dialog.close">$B.ui.dialog.close()</a></li>
      <li><a href="#$B.ui.dialog.create">$B.ui.dialog.create()</a></li>
      <li><a href="#$B.ui.dialog.destroy">$B.ui.dialog.destroy()</a></li>
      <li><a href="#$B.ui.dialog.destroyAll">$B.ui.dialog.destroyAll()</a></li>
      <li><a href="#$B.ui.dialog.exists">$B.ui.dialog.exists()</a></li>
      <li><a href="#$B.ui.dialog.get">$B.ui.dialog.get()</a></li>
      <li><a href="#$B.ui.dialog.isOpen">$B.ui.dialog.isOpen()</a></li>
      <li><a href="#$B.ui.dialog.moveToTop">$B.ui.dialog.moveToTop()</a></li>
      <li><a href="#$B.ui.dialog.open">$B.ui.dialog.open()</a></li>
      <li><a href="#$B.ui.dialog.set">$B.ui.dialog.set()</a></li>
      <li><a href="#$B.ui.dialog.close">$B.ui.dialog.close()</a></li>
      <li><a href="#$B.ui.dialog.create">$B.ui.dialog.create()</a></li>
      <li><a href="#$B.ui.dialog.destroy">$B.ui.dialog.destroy()</a></li>
      <li><a href="#$B.ui.dialog.destroyAll">$B.ui.dialog.destroyAll()</a></li>
      <li><a href="#$B.ui.dialog.exists">$B.ui.dialog.exists()</a></li>
      <li><a href="#$B.ui.dialog.get">$B.ui.dialog.get()</a></li>
      <li><a href="#$B.ui.dialog.isOpen">$B.ui.dialog.isOpen()</a></li>
      <li><a href="#$B.ui.dialog.moveToTop">$B.ui.dialog.moveToTop()</a></li>
      <li><a href="#$B.ui.dialog.open">$B.ui.dialog.open()</a></li>
      <li><a href="#$B.ui.dialog.set">$B.ui.dialog.set()</a></li>
    </ul>
  </div>

  <script src="js/google-code-prettify/prettify.js"></script>
  <script src="js/docs.js"></script>