// ==========================================================================
// SECTIONS
// ==========================================================================
.cjs-section
  border-bottom 1px solid $section-border-color
  margin-top 20px
  margin-bottom 35px
  padding-bottom 30px

.cjs-object
  color object-text-color($cjs-type-object-color)

.cjs-method
  color object-text-color($cjs-type-function-color)

.cjs-property
  color object-text-color($cjs-type-number-color)

a.cjs-hash
  font-family sans-serif
  opacity 0
  transition-property opacity, color
  margin-left 5px

.cjs-title:hover a.cjs-hash
  opacity 1

// ie fallback
.lt-ie9 a.cjs-hash
  display none

.lt-ie9 .cjs-title:hover a.cjs-hash
  display inline
  line-height 1%

// link to source
.cjs-sourceline
  color $cjs-sourceline-color
  display block
  font-size 13px
  font-family arial
  font-weight normal
  font-style italic
  padding-left 3px

h2 .cjs-sourceline
  line-height 18px

h3 .cjs-sourceline
  line-height 8px

h4 .cjs-sourceline,
h5 .cjs-sourceline,
h6 .cjs-sourceline
  line-height 22px


// ==========================================================================
// ARGUMENTS
// ==========================================================================
.cjs-header
  font-weight bold
  color $cjs-header-color

dl.cjs-arguments
  margin-bottom 30px

dl.cjs-arguments, .cjs-json .cjs-json
  padding-left $global-sep

dt.cjs-param, .cjs-json-key
  margin-right $global-sep
  float left

dd.cjs-type, .cjs-json .cjs-type
  float left

.cjs-json li
  margin-bottom $global-sep

.cjs-param-desc
  margin-bottom 20px
  font-size 0.8em
  font-family arial
  padding-top 1px

.cjs-param-desc code, p code.prettyprint
  padding 0 6px
  margin 0 2px
  border-radius 3px
  font-size 0.9em

// default param type little box styles
.cjs-type em, .cjs-return em
  font-style normal
  font-family arial
  font-size 0.7em
  margin-right $global-sep
  display inline-block
  border-radius 3px
  padding 2px 5px
  text-align center
  border 1px solid #ccc
  object-color($cjs-default-type-color)
  cursor default
  box-shadow inset 0px 1px 0px rgba(255, 255, 255, 0.4)

// types
em.cjs-type-string
  object-color($cjs-type-string-color)

em.cjs-type-boolean
  object-color($cjs-type-boolean-color)

em.cjs-type-number
  object-color($cjs-type-number-color)

em.cjs-type-function
  object-color($cjs-type-function-color)

em.cjs-type-object
  object-color($cjs-type-object-color)

em.cjs-type-array
  object-color($cjs-type-array-color)

em.cjs-param-optional
  object-color($cjs-type-optional-color, 40)

.cjs-return
  border-top 1px solid $cjs-return-border-color
  border-bottom 1px solid $cjs-return-border-color
  padding-top $global-sep
  padding-bottom $global-sep
  overflow hidden
  margin 20px 0 30px 0
  & + &
    border-top 0
    margin-top -20px
    padding-top 0
  em
    font-family arial
    font-size 0.7em
  .cjs-header
    float left
    margin-right $global-sep

// json
.cjs-json
  list-style-type none
