.prettyprint
  padding 10px 10px 10px 0
  background-color $hi-bg-color

// code selection
selection($hi-selection-color, inherit, '.prettyprint span')

pre.prettyprint
  border 1px solid rgba(0, 83, 159, 0.15)
  border-left-width 6px
  border-left-color rgba(0, 83, 159, 0.65)

pre
  border-radius 6px

#cjs-src pre
  border 0
  border-radius 0

$ol-ml = 10px
ol.linenums
  margin-left $ol-ml
  list-style-position inside
  li
    color: $hi-line-number-color
    position relative
    &:hover
      color $hi-line-number-color-hover !important

  a
    width 50px
    height 16px
    left -($ol-ml)
    position absolute
    outline none

.pun, .opn, .clo
  color $hi-plain

// keyword
.kwd
  color $hi-keyword

// string
.str, .atv
  color $hi-attribute-value

// number
.lit
  color $hi-number

// comment
.com
  color $hi-comment

.prettyprint .tag
  color $hi-tag

.pln
  color $hi-plain

// not being used?
.fun
  color red

.typ, .atn, .dec, .var
  color $hi-attribute
