.prettyprint
  padding 10px 10px 10px 0
  background-color $hi-bg-color

// code selection
selection($hi-selection-color, inherit, '.prettyprint span')

pre
  border-radius 6px

#cjs-src pre
  border 0
  border-radius 0

ol.linenums
  margin-left 50px
  li
    color: $hi-line-number-color
    position relative
    &:hover
      color $hi-line-number-color-hover !important

  a
    width 50px
    height 16px
    left -50px
    position absolute
    outline none

.pun, .opn, .clo
  color $hi-plain

// keyword
.kwd
  color $hi-keyword

// string
.str, .atv
  color $hi-attribute-value

// number
.lit
  color $hi-number

// comment
.com
  color $hi-comment

.prettyprint .tag
  color $hi-tag

.pln
  color $hi-plain

// not being used?
.fun
  color red

.typ, .atn, .dec, .var
  color $hi-attribute
