$img-path = '../img/'

$global-sep = 10px

// Body bg
//---------------------------------------------------------------------------

$body-bg = #f8f8f8 url($img-path + 'body-bg.png')
$body-text-color = #4D4E53

$text-selection-bg = rgba(#369, .3)
$text-selection-fg = #444


// Documentation container
//---------------------------------------------------------------------------

$main-bg-color = white;


// Nav
//---------------------------------------------------------------------------

$nav-width = 275px

// Nav links
$nav-link-color = #0095DD
$nav-link-color-hover = #25A
$nav-link-bg-color-hover = rgba($nav-link-color, 0.1)
$nav-link-bg-color-hover-ie = lighten($nav-link-color, 70%)
$nav-link-color-selected = #fff
$nav-link-bg-color-selected-ie = #fff
$nav-link-bg-color-selected = rgba($nav-link-color, 0.8)


// Header
//---------------------------------------------------------------------------

$header-height = 60px
$header-bg = #84A2B4


// Toc
//---------------------------------------------------------------------------

$toc-width = $nav-width - $global-sep
$toc-item-width = $toc-width - $global-sep


// Nav header
//---------------------------------------------------------------------------

$nav-header-border-bottom-color = #BABABA
$nav-header-height = 25px + $global-sep


// TOC filter input
//---------------------------------------------------------------------------

$search-input-bg = #EDEDED url($img-path + 'search.png') no-repeat 7px 5px
$search-input-bg-focus = #fff
$search-input-border-color = #ABABAB
$search-input-color = #333
$search-input-focus-color = black


// Section
//---------------------------------------------------------------------------

$section-border-color = #ddd
$cjs-sourceline-color = #4E5745

$cjs-header-color = #4D4E53

$cjs-return-border-color = #DDD

// Object types
//---------------------------------------------------------------------------

$cjs-default-type-color = #ccc
$cjs-type-string-color = #A6CAA9
$cjs-type-boolean-color = #A9C5EB
$cjs-type-number-color = #CFB1ED
$cjs-type-function-color = #FFC48E
$cjs-type-object-color = #F1E2A3
$cjs-type-array-color = #EDA9BC
$cjs-type-optional-color = rgba(255, 255, 255, 0.5)


// Scrollbar
//---------------------------------------------------------------------------

$scrollbar-size = 10px
$scrollbar-bg = transparent
$scrollbar-thumb-min-height = 50px
$scrollbar-thumb-bg = rgba(0, 0, 0, 0.1)
$scrollbar-thumb-bg-hover = rgba(0, 0, 0, 0.2)
$scrollbar-thumb-bg-active = rgba(0, 0, 0, 0.3)
$scrollbar-thumb-border-color = #ABABAB
$scrollbar-thumb-border-color-hover = #969696
$scrollbar-thumb-border-color-active = #7d7d7d

// Substract scrollbar size to toc item
// to make a space between item and scrollbar
$toc-item-width -= $scrollbar-size

// General syntax highlight
//---------------------------------------------------------------------------

$hi-bg-color = rgba(234, 239, 242, 0.5)
$hi-plain = #000
$hi-line-number-color = #999
$hi-line-number-color-hover = darken($hi-line-number-color, 50%)
$hi-selection-color = rgba(#369, .3)
$code-font = "Menlo", "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace

// javascript syntax highlight
$hi-comment = #708090
$hi-keyword = #07A
$hi-string = #690
$hi-number = #905
$hi-operator = $hi-keyword
$hi-punctuation = $hi-plain

// html syntax highlight
$hi-tag = $hi-keyword
$hi-attribute = #690
$hi-attribute-value = $hi-string
