html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.clear:before,
.clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
code {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
#cjs-src code {
  background: #222;
  display: block;
  color: #f8f8f2;
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
  white-space: pre;
  padding-left: 80px;
  line-height: 1.2;
}
#cjs-src code:hover {
  background: #444;
}
#cjs-src code:hover .ln {
  color: #fff;
}
#cjs-src code .ln {
  position: absolute;
  left: 0;
  color: #797976;
  width: 50px;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#cjs-src code b {
  color: #f92672;
  font-weight: normal;
}
#cjs-src code i,
#cjs-src code i *,
#cjs-src code i .d {
  color: #e6db74;
  font-style: normal;
}
#cjs-src code .s {
  color: #f92672;
}
#cjs-src code .d {
  color: #ae81ff;
}
#cjs-src code .c,
#cjs-src code .c * {
  color: #75715e;
}
#cjs-src code::-moz-selection {
  background: rgba(69,69,69,0.99);
  color: inherit;
}
#cjs-src code::selection {
  background: rgba(69,69,69,0.99);
  color: inherit;
}
#cjs-src *::-moz-selection {
  background: rgba(69,69,69,0.99);
  color: inherit;
}
#cjs-src *::selection {
  background: rgba(69,69,69,0.99);
  color: inherit;
}
