prefix(prop, val)
  -webkit-{prop} val
  -moz-{prop} val
  -ms-{prop} val
  -o-{prop} val
  {prop} val

box-shadow()
  prefix('box-shadow', arguments)

box-sizing()
  prefix('box-sizing', arguments)

border-radius()
  prefix('border-radius', arguments)

transition()
  prefix('transition', arguments)

opacity(val)
  opacity val
  filter unquote('alpha(opacity=' + val * 100 + ')')

selection(bgColor, txtColor)
  ::-moz-selection
      background bgColor
      color txtColor

  ::selection
      background bgColor
      color txtColor

user-select()
  prefix('user-select', arguments)