.prettyprint
  padding 10px 10px 10px 0
  background-color #272822
  border 1px solid black

pre
  border-radius 6px

ol.linenums
  margin-left 50px
  li
    color $hi-line-text-color

.com
  color $hi-comment

.lit
  color $hi-string

.pun, .opn, .clo
  color $hi-plain

.str, .atv
  color $hi-attribute-value

.kwd
  color $hi-keyword

.prettyprint .tag
  color $hi-tag

.pln
  color $hi-plain

.fun
  color red

.typ, .atn, .dec, .var
  color $hi-attribute
