.prettyprint
  padding 10px 10px 10px 0
  background-color $hi-bg-color
  border 1px solid black

pre
  border-radius 6px

ol.linenums
  margin-left 50px
  li
    color $hi-line-number-color
    &:hover
      color $hi-line-number-color-hover

.pun, .opn, .clo
  color $hi-plain

// keyword
.kwd
  color $hi-keyword

// string
.str, .atv
  color $hi-attribute-value

// number
.lit
  color $hi-number

// comment
.com
  color $hi-comment

.prettyprint .tag
  color $hi-tag

.pln
  color $hi-plain

.fun
  color red

.typ, .atn, .dec, .var
  color $hi-attribute
