.com
  color #75715e

.lit
  color #ae81ff

.pun, .opn, .clo
  color #f8f8f2

.str, .atv
  color #e6db74

.kwd, .prettyprint .tag
  color #f92672

.pln
  color #f8f8f2

.fun
  color red

.typ, .atn, .dec, .var
  color #a6e22e

.prettyprint
  padding 10px 10px 10px 0
  background-color #222222
  border 1px solid black

pre
  border-radius 6px
  margin-bottom 20px

ol.linenums
  margin-left 50px

ol.linenums li
  font-size 12px
  color #797976