// ==========================================================================
// GENERATED SOURCE FILE
// ==========================================================================
#cjs-src
  user-select none
  code
    user-select text
    background-color $hi-bg-color
    display block
    color #F8F8F2
    font-family Menlo, Consolas, Monaco, "Lucida Console", monospace
    white-space pre
    padding-left 80px
    line-height 1.2
    &:hover
      background #333
    &:hover .ln
      color $hi-line-number-color-hover
    // linenum
    .ln
      position absolute
      left 0
      color $hi-line-number-color
      width 50px
      text-align right
      user-select none
      transition: none
    // keyword
    b
      color $hi-keyword
      font-weight normal
    // string
    i, i *, i .d
      color $hi-string
      font-style normal
    // operator
    .s
      color $hi-operator
    // number
    .d
      color $hi-number
    // comment
    .c, .c *
      color $hi-comment

// selection color
selection($hi-selection-color, inherit, '#cjs-src')
selection($hi-selection-color, inherit, '#cjs-src code')
selection($hi-selection-color, inherit, '#cjs-src code *')
