// ==========================================================================
// GENERATED SOURCE FILE
// ==========================================================================
#cjs-src
  user-select none
  code
    user-select text
    background #222
    display block
    color #F8F8F2
    font-family Menlo, Consolas, Monaco, "Lucida Console", monospace
    white-space pre
    padding-left 80px
    line-height 1.2
    &:hover
      background #444
    &:hover .ln
    color #fff
    // linenum
    .ln
      position absolute
      left 0
      color #797976
      width 50px
      text-align right
      user-select none
    // keyword
    b
      color #f92672
      font-weight normal
    // string
    i, i *, i .d
      color #e6db74
      font-style normal
    // operator
    .s
      color #f92672
    // number
    .d
      color #ae81ff
    // comment
    .c, .c *
      color #75715e

// selection color
selection(rgba(69, 69, 69, 0.99), inherit, '#cjs-src')
selection(rgba(69, 69, 69, 0.99), inherit, '#cjs-src code')
selection(rgba(69, 69, 69, 0.99), inherit, '#cjs-src code *')